*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.body{ display: flex;
flex-direction: row;

height: 100vh;
}
    
    


h1{ display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 50px;
    transition: 60px 1s;
}
h1:hover{
    font-size: 60px;

}
.body__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
    background-color: yellow;
    text-align: justify;
    font-size: 18px;
    justify-content: center;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
  }  
.input{
    background-color: yellow;
    width: 90px;    
    height: 60px;
    color: white;
    border-radius: 25%;
    border-color: rgb(59, 59, 59);
    font-size: 20px;
    transition: height 2s;
    
}
.input:hover{
    height: 65px;
    width: 100px;
    color: red;

}
.body__div{
    width: 50%;
    height: 100vh;
 }   
 img{
     width: 100%;
     height: 100vh;
     overflow-y: auto;
     
 }  
     
    






 
 
     
 
    
   
    

   

